.intro__list {
  max-width: 690px;
  margin: 0;
  list-style: none;
  padding-left: 0;
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 100%;
  }
}