.header__leng-link {
  margin: 0;
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  transition: opacity 0.5s linear;
}

.header__leng-link:first-of-type {
  margin-right: 18px;
}

.header__leng-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 425px) {
  .header__leng-link {
    font-size: 24px;
    line-height: 28px;
  }
}