.intro__text {
  margin: 40px 0 33px 0;
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}