.lead__subtitle {
  margin: 16px 0 40px 0;
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  max-width: 288px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin: 32px 0 56px 0;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;    
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    margin: 32px 0 64px 0;
  }
}