.place__link {
  width: 100%;
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

.place__link:hover {
  opacity: 0.8;
}