.cover__title {
  margin: 0 auto;
  max-width: 288px;
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}