.place {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  box-sizing: border-box;
  padding-bottom: 49px;
  overflow: hidden;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 16px;
  }
}