.place__url-heading {
  margin: 0 0 12px 0;
  max-width: 100%;
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  -webkit-font-smoothing: antialiased;
  color: #aaaaaa;
}