.intro__title {
  margin: 0;
  max-width: 100%;
  font-family: 'inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}